{% extends 'PA036SocialNetworkBundle::layout.html.twig' %}

{% block head %}
    <script type="text/javascript">
        function updateGroupMenu() {
            var groupId;
            {% if group is defined %}
            groupId = {{ group.groupId }}
            {% endif %}

            $('#group .loading').show();

            $.get("{{ path('group_my_admin') }}")
                    .done(function (data) {
                        var response = jQuery.parseJSON(data);
                        var groupsMyAdmin = response.groups;

                        $.get("{{ path('group_my') }}")
                                .done(function (data) {
                                    $('ul#group li.group').remove();

                                    var activeClass = '', leaveClass = '';

                                    var path = "{{ path('group', { 'group_id': "PLACEHOLDER" }) }}";

                                    var response = jQuery.parseJSON(data);
                                    var groupsMy = response.groups;

                                    var loaded_groups = [];
                                    for (var key in groupsMyAdmin) {
                                        if (groupId === groupsMyAdmin[key].groupId) {
                                            activeClass = 'active';
                                            leaveClass = 'hide';
                                        } else {
                                            activeClass = '';
                                            leaveClass = '';
                                        }
                                        var link = path.replace("PLACEHOLDER", groupsMyAdmin[key].groupId);

                                        loaded_groups.push(groupsMyAdmin[key].groupId);
                                        $('ul#group .loading').before('<li class="group clearfix ' + activeClass + '"><a class="pull-left" href="' + link + '">' + groupsMyAdmin[key].name + '</a> ' +
                                                '<span class="pull-right leave ' + leaveClass + '" href="{{ path('group_leave')}}?groupId=' + groupsMyAdmin[key].groupId + '" data-id="'+groupsMy[key].groupId+'"><i class="glyphicon glyphicon-remove"></i></span> ' +
                                                '<span class="pull-right fancybox edit" data-fancybox-href="{{ path('group_edit')}}?groupId=' + groupsMyAdmin[key].groupId + '"><i class="glyphicon glyphicon-edit"></i></span></li>');
                                    }

                                    for (var key in groupsMy) {
                                        if(loaded_groups.indexOf(groupsMy[key].groupId) != -1){
                                            continue;
                                        }
                                        if (groupId === groupsMy[key].groupId) {
                                            activeClass = 'active';
                                            leaveClass = 'hide';
                                        } else {
                                            activeClass = '';
                                            leaveClass = '';
                                        }
                                        var link = path.replace("PLACEHOLDER", groupsMyAdmin[key].groupId);

                                        $('ul#group .loading').before('<li class="group clearfix ' + activeClass + '"><a class="pull-left" href="' + link + '">' + groupsMy[key].name + '</a> <span class="pull-right leave ' + leaveClass + '" href="{{ path('group_leave')}}?groupId=' + groupsMy[key].groupId + '" data-id="'+groupsMy[key].groupId+'"><i class="glyphicon glyphicon-remove"></i></span>');
                                    }

                                    $('#group .loading').hide();

                                    $(".leave").on("click", function () {
                                        var elem = $(this);
                                        var groupId = elem.attr('data-id');

                                        $.get("{{ path('group_leave') }}", {groupId: groupId})
                                                .done(function (data) {
                                                    var response = jQuery.parseJSON(data);
                                                    if (response.status === "true") {
                                                        elem.parent().hide();
                                                    }
                                                });
                                    });
                                });
                    });

        }

        function updateConversations() {
            var conversationId;
            {% if conversation is defined %}
            conversationId = {{ conversation.conversationId }}
            {% endif %}

            $.get("{{ path('conversation_my') }}")
                    .done(function (data) {
                        data = jQuery.parseJSON(data);
                        var path = "{{ path('conversation', { 'id': "PLACEHOLDER" }) }}";

                        var $loading = $('ul#conversation .loading');

                        for (i in data.conversations) {
                            var conversation_member = data.conversations[i];
                            var conversation = conversation_member.conversation;

                            console.log(conversation);

                            var $link = $('<a></a>').text(conversation.name)
                                    .attr('href', path.replace("PLACEHOLDER", conversation.id));

                            var $item = $('<li></li>').append($link);
                            if (conversation.id == conversationId) {
                                $item.addClass('active');
                            }

                            $loading.before($item);
                        }
                        $loading.hide();
                    });
        }

        $(document).ready(function () {
            updateGroupMenu();
            updateConversations();

            $(".fancybox").fancybox({
                // API options
                width: '450px',
                height: '230px',
                autoDimensions: false,
                type: 'iframe',
                autoSize: false,
                beforeClose: function () {
                    updateGroupMenu();
                }
            });

        });

    </script>

{% endblock %}


{% block sidebar %}

<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">My groups</div>
        <ul id="group" class="nav nav-list">
            <li><a href="#" class="fancybox" data-fancybox-href="{{ path('group_add') }}">Add group</a></li>
            <li class="loading">Loading...</li>
        </ul>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Conversations</div>
        <ul id="conversation" class="nav nav-list">
            <li><a href="#" class="fancybox" data-fancybox-href="{{ path('new_conversation')}}">New conversation</a></li>
            <li class="loading">Loading...</li>
        </ul>

    </div>
</div>


{% endblock %}