{% extends 'PA036SocialNetworkBundle::layout.html.twig' %}

{% block head %}

    <script type="text/javascript">
        function updateGroupMenu() {
            var groupId;
            {% if groupId is defined %}
            groupId = {{ groupId }}
            {% endif %}

            $('#group .loading').show();

            $.get("{{ path('group_my_admin') }}")
                    .done(function (data) {
                        var response = jQuery.parseJSON(data);
                        var groupsMyAdmin = response.groups;

                        $.get("{{ path('group_my') }}")
                                .done(function (data) {
                                    $('ul#group li.group').remove();

                                    var activeClass = '', leaveClass = '';
                                    var path = "{{ app.request.uri }}";
                                    path = path.replace(path.substring(path.lastIndexOf('/') + 1), '')

                                    if (path.indexOf("group") === -1) {
                                        path += 'group/';
                                    }

                                    var response = jQuery.parseJSON(data);
                                    var groupsMy = response.groups;

                                    var loaded_groups = [];
                                    for (var key in groupsMyAdmin) {
                                        if (groupId === groupsMyAdmin[key].groupId) {
                                            activeClass = 'active';
                                            leaveClass = 'hide';
                                        } else {
                                            activeClass = '';
                                            leaveClass = '';
                                        }
                                        loaded_groups.push(groupsMyAdmin[key].groupId);
                                        $('ul#group .loading').before('<li class="group clearfix ' + activeClass + '"><a class="pull-left" href="' + path + groupsMyAdmin[key].groupId + '">' + groupsMyAdmin[key].name + '</a> <span class="pull-right leave ' + leaveClass + '" href="{{ path('group_leave')}}?groupId=' + groupsMyAdmin[key].groupId + '" data-id="'+groupsMy[key].groupId+'"><i class="icon-remove"></i></span> <span class="pull-right fancybox edit" data-fancybox-href="{{ path('group_edit')}}?groupId=' + groupsMyAdmin[key].groupId + '"><i class="icon-edit"></i></span></li>');
                                    }

                                    for (var key in groupsMy) {
                                        if(loaded_groups.indexOf(groupsMy[key].groupId) != -1){
                                            continue;
                                        }
                                        if (groupId === groupsMy[key].groupId) {
                                            activeClass = 'active';
                                            leaveClass = 'hide';
                                        } else {
                                            activeClass = '';
                                            leaveClass = '';
                                        }
                                        $('ul#group .loading').before('<li class="group clearfix ' + activeClass + '"><a class="pull-left" href="' + path + groupsMyAdmin[key].groupId + '">' + groupsMyAdmin[key].name + '</a> <span class="pull-right leave ' + leaveClass + '" href="{{ path('group_leave')}}?groupId=' + groupsMyAdmin[key].groupId + '" data-id="'+groupsMy[key].groupId+'"><i class="icon-remove"></i></span>');
                                    }

                                    $('#group .loading').hide();

                                    $(".leave").on("click", function () {
                                        var elem = $(this);
                                        var groupId = elem.attr('data-id');

                                        $.get("{{ path('group_leave') }}", {groupId: groupId})
                                                .done(function (data) {
                                                    var response = jQuery.parseJSON(data);
                                                    if (response.status === "true") {
                                                        elem.parent().hide();
                                                    }
                                                });
                                    });
                                });
                    });

        }

        $(document).ready(function () {
            updateGroupMenu();

            $(".fancybox").fancybox({
                // API options
                autoScale: true,
                width: 500,
                height: 500,
                type: 'iframe',
                padding: 0,
                beforeClose: function () {
                    updateGroupMenu();
                }
            });


        });

    </script>

{% endblock %}


{% block sidebar %}

<div class="span3">
    <div class="well sidebar-nav">
        <ul id="group" class="nav nav-list">
            <li class="nav-header">My groups</li>
            <li><a href="#" class="fancybox" data-fancybox-href="{{ path('group_add') }}">Add group</a></li>
            <li class="loading">Loading...</li>
        </ul>
    </div>
</div>

{% endblock %}