{% extends 'PA036SocialNetworkBundle:Group:groupBase.html.twig' %}

{% block title "page title" %}

{% block head %}

{{ parent() }}

<script type="text/javascript">

    function updatePosts() {
        var groupId = '';
        {% if app.request.get('group_id') != '' %}
        groupId = {{ app.request.get('group_id') }};
        {% endif %}
        //$('#group .loading').show();

        $.post("{{ path('posts') }}", {group_id: groupId})
                .done(function(data) {
            var response = jQuery.parseJSON(data);

            var posts = response.posts;

            $('#posts').html('');
            for (var key in posts) {
                var post = posts[key];
                var only_post = post['post'];
                var only_comments = post['comments'];

                $("<div></div>").attr('id', only_post['postId']).html("").prependTo('#posts');
                $("<div></div>").html(only_post['text']).appendTo('#' + only_post['postId']);
                $("<div class='like'></div>").html("<a href='#'>Like </a><span class='count'>" + only_post['likesCount'] + "</span>").appendTo('#' + only_post['postId']);


                if (only_comments !== undefined) {
                    for (var key in only_comments) {
                        $("<div></div>").attr('class', 'comment').html(only_comments[key]['text']).appendTo('#' + only_post['postId']);

                    }
                }

                $("<div></div>").attr('class', 'comment_add').html("<input type='text' name='form_text' />").appendTo('#' + only_post['postId']);
                //$("<div></div>").attr('class', 'comment_add').html("<input type='file' name='form_file' />").appendTo('#' + only_post['postId']);
            }
        });
    }

    $(document).ready(function() {

        $(document.body).on('click', '.like a', function(event) {

            var post_id = $(this).parent().parent().attr('id');

            $.post("{{ path('posts_like') }}", {post_id: post_id})
                    .done(function (data) {
                        var response = jQuery.parseJSON(data);
                        $('#' + post_id + " .like .count").html(response.post.like_count);
                    });
        });

        $(document.body).on('keyup', '#posts input', function(event) {
            if (event.keyCode === 13) {
                var groupId = '';
                {% if app.request.get('group_id') != '' %}
                groupId = {{ app.request.get('group_id') }};
                {% endif %}

                var comment = $(this).val();
                var parent_id = $(this).parent().parent().attr("id");
                var input = $(this);

                $.post("{{ path('post_add') }}",
                        {form_text: comment, parent_id: parent_id, group_id: groupId})
                        .done(function (data) {

                            var response = jQuery.parseJSON(data);

                            if (response.status === "true") {
                                $("<div></div>").attr('class', 'comment').html(comment).prependTo($(input).parent());
                                $(input).val("");
                            }
                        });
            }
        });

        $('#form_add').click(function() {
            var groupId = '';
            {% if app.request.get('group_id') != '' %}
            groupId = {{ app.request.get('group_id') }};
            {% endif %}
            var text = $('#form_text').val();

            var data = new FormData();
            $.each($('#post_add').find("input[type='file']"), function(i, tag) {
                $.each($(tag)[0].files, function(i, file) {
                    data.append(tag.name, file);
                });
            });
            data.append("form_text", text);
            data.append("group_id", groupId);

            $.ajax({
                url: "{{ path('post_add') }}",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data) {
                    var response = jQuery.parseJSON(data);
                    if (response.status === "true") {
                        $('#form_text').val("");
                        $('#form_file').val("");
                        
                        updatePosts();
                    }
                }
            });

            return false;
        });
    });

    $(document).ready(function() {
        updatePosts();
    });

    </script>

{% endblock %}

{% block content %}
    <div class="span9">
        <div id="post_add">
            {{ form_start(form_post_add, {'attr': {'enctype': 'multipart/form-data', 'method': 'post'} }) }}
                {{ form_errors(form_post_add) }}

                <div class="form-group">
                    {{ form_label(form_post_add.text) }}
                    {{ form_errors(form_post_add.text) }}
                    {{ form_widget(form_post_add.text, {'attr': {'class': 'input-block-level' }}) }}
                </div>

                <div class="form-group">
                    <input type="file" id="form_file" name="form_file"/>
                </div>

                <div>
                    {{ form_widget(form_post_add.add, {'attr': {'class': 'btn btn-large btn-primary btn-block' }}
                    ) }}
                </div>

            {{ form_end(form_post_add) }}
        </div>
        <div id="posts">

        </div>
        {# include 'PA036SocialNetworkBundle:Post:posts.html.twig' #}
    </div>
{% endblock %}