{% extends 'PA036SocialNetworkBundle::layout.html.twig' %}

{% block head %}

    <script type="text/javascript">
        function updateGroupMenu() {
            var groupId;
            {% if groupId is defined %}
            groupId = {{ groupId }}
            {% endif %}

            $('#group .loading').show();

            $.get("{{ path('group_my_admin') }}")
                    .done(function (data) {
                        var response = jQuery.parseJSON(data);
                        var groupsMyAdmin = response.groups;

                        $.get("{{ path('group_my') }}")
                                .done(function (data) {
                                    $('ul#group li.group').remove();

                                    var activeClass = '', leaveClass = '';
                                    var path = "{{ app.request.uri }}";
                                    path = path.replace(path.substring(path.lastIndexOf('/') + 1), '')

                                    if (path.indexOf("group") === -1) {
                                        path += 'group/';
                                    }

                                    var response = jQuery.parseJSON(data);
                                    var groupsMy = response.groups;

                                    var loaded_groups = [];
                                    for (var key in groupsMyAdmin) {
                                        if (groupId === groupsMyAdmin[key].groupId) {
                                            activeClass = 'active';
                                            leaveClass = 'hide';
                                        } else {
                                            activeClass = '';
                                            leaveClass = '';
                                        }
                                        loaded_groups.push(groupsMyAdmin[key].groupId);
                                        $('ul#group .loading').before('<li class="group clearfix ' + activeClass + '"><a class="pull-left" href="' + path + groupsMyAdmin[key].groupId + '">' + groupsMyAdmin[key].name + '</a> ' +
                                                '<span class="pull-right leave ' + leaveClass + '" href="{{ path('group_leave')}}?groupId=' + groupsMyAdmin[key].groupId + '" data-id="'+groupsMy[key].groupId+'"><i class="glyphicon glyphicon-remove"></i></span> ' +
                                                '<span class="pull-right fancybox edit" data-fancybox-href="{{ path('group_edit')}}?groupId=' + groupsMyAdmin[key].groupId + '"><i class="glyphicon glyphicon-edit"></i></span></li>');
                                    }

                                    for (var key in groupsMy) {
                                        if(loaded_groups.indexOf(groupsMy[key].groupId) != -1){
                                            continue;
                                        }
                                        if (groupId === groupsMy[key].groupId) {
                                            activeClass = 'active';
                                            leaveClass = 'hide';
                                        } else {
                                            activeClass = '';
                                            leaveClass = '';
                                        }
                                        $('ul#group .loading').before('<li class="group clearfix ' + activeClass + '"><a class="pull-left" href="' + path + groupsMy[key].groupId + '">' + groupsMy[key].name + '</a> <span class="pull-right leave ' + leaveClass + '" href="{{ path('group_leave')}}?groupId=' + groupsMy[key].groupId + '" data-id="'+groupsMy[key].groupId+'"><i class="glyphicon glyphicon-remove"></i></span>');
                                    }

                                    $('#group .loading').hide();

                                    $(".leave").on("click", function () {
                                        var elem = $(this);
                                        var groupId = elem.attr('data-id');

                                        $.get("{{ path('group_leave') }}", {groupId: groupId})
                                                .done(function (data) {
                                                    var response = jQuery.parseJSON(data);
                                                    if (response.status === "true") {
                                                        elem.parent().hide();
                                                    }
                                                });
                                    });
                                });
                    });

        }

        function getMessageElement(message){
            var html = '';
            html += '<div class="conversation_message">';
            html += '   <div class="conversation_message_header">';
            html += '       <span class="conversation_message_author">' + message.user.full_name + '</span>';
            html += '       <span class="glyphicon glyphicon-time"></span>';
            html += '       <span class="conversation_message_time">' + message.timestamp + '</span>';
            html += '   </div>';
            html += '   <div class="conversation_message_body panel-body">' + message.body + "</div>";
            html += '</div>';
            return html;
        }

        function updateConversations(){
            $.get("{{ path('conversation_my') }}")
                    .done(function (data) {
                    data = jQuery.parseJSON(data);
                    for(i in data.conversations){
                        var conversation_member = data.conversations[i];
                        var conversation = conversation_member.conversation;

                        var html = '';
                        html += '<div class="conversation panel panel-default" data-id="' + conversation.id + '">';
                        html += '   <div class="conversation_name panel-heading">' +  conversation.name + '</div>';
                        html += '   <div class="conversation_messages">';

                        for(j in conversation.messages){
                            html += getMessageElement(conversation.messages[j]);
                        }

                        html += '   </div>';
                        html += '   <textarea rows="" cols="" class="input-sm"></textarea>';
                        html += '</div>';

                        $('#conversations').append(html);
                    }
            });


            $(document.body).on('keydown', '#conversations textarea', function(event) {
                //allow shift enter
                if (event.keyCode === 13 && !event.shiftKey) {
                    var $input = $(this);
                    var message = $input.val();
                    var $parent =  $input.parents(".conversation");
                    var conversation_id = $parent.attr("data-id");

                    $.post("{{ path('conversation_message') }}",
                            {conversation_id: conversation_id, message: message})
                            .done(function (data) {
                                var response = jQuery.parseJSON(data);
                                if (response.status === "true") {
                                    var message = getMessageElement(response.message);
                                    $parent.find(".conversation_messages").append(message);
                                }
                            });
                    $input.val("");
                    event.preventDefault();
                }
            });
        }

        $(document).ready(function () {
            updateGroupMenu();
            updateConversations();

            $(".fancybox").fancybox({
                // API options
                width: '450px',
                height: '230px',
                autoDimensions: false,
                type: 'iframe',
                autoSize: false,
                beforeClose: function () {
                    updateGroupMenu();
                }
            });

        });

    </script>

{% endblock %}


{% block sidebar %}

<div class="col-md-3">
    <div class="well sidebar-nav">
        <ul id="group" class="nav nav-list">
            <li class="nav-header">My groups</li>
            <li><a href="#" class="fancybox" data-fancybox-href="{{ path('group_add') }}">Add group</a></li>
            <li class="loading">Loading...</li>
        </ul>
    </div>

    <div class="well sidebar-nav">
        <div id="conversations">
        </div>
        <div id="start_new">
            <span class="fancybox" data-fancybox-href="{{ path('new_conversation')}}">New conversation</span>
        </div>
    </div>
</div>


{% endblock %}