{% extends "PA036SocialNetworkBundle::base.html.twig" %}

{% block head %}{% endblock %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if app.user %}
                    <li {% if app.request.get('_route') == 'home' %} class="active" {% endif %}>
                        <a href="{{ path('home') }}">Home</a></li>
                    {% endif %}
                </ul>
                <p class="navbar-text navbar-right">
                    {% if app.user %}
                        Logged in as <a
                            href="{{ path('account_edit') }}">{{ app.user.email }}</a> | <a
                            href="{{ path('logout') }}">Logout</a>
                    {% endif %}
                </p>
                {% if not app.user %}
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="{{ path('account_register') }}">Create an Account</a></li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>
    <div id="wrap">
        <div class="container">
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        <em>Notice</em>: {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block sidebar %}{% endblock %}

                {% block content %}{% endblock %}


                {% if code is defined %}
                    <h2>Code behind this page</h2>
                    <div class="block">
                        <div class="symfony-content">{{ code|raw }}</div>
                    </div>
                {% endif %}
            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </div><!--/wrap-->

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">xxx xxx xxx xxx</p>
        </div>
    </div>

    </div>

{% endblock %}
